layout {

    focus-ring {
        active-color   "#9bcbff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9bcbff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9bcbff"
        inactive-color "#004a7a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9bcbff80"
    }
}

recent-windows {
    highlight {
        active-color "#9bcbff"
        urgent-color "#ffb4ab"
    }
}
